/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> &
 * Emmanuel Colin <ecolin@boardgamearena.com>
 * Euchre implementation : © W Michael Shirk <wmichaelshirk@gmail.com> &
                             George Witty <jimblefredberry@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on
 * http://boardgamearena.com. See http://en.boardgamearena.com/#!doc/Studio for
 * more information.
 * -----
 */


 #mainview {
     margin-top: 10px;
     position: relative;
     text-align: center;
     --cardwidth: 70px;
     --cardheight: 129px;
     --avatar-radius: 1em;
}


/*
 * INFO CARDS
 */
.special_cards {
    float: right;
    width: 150px;
    margin-right: 1em;
    position: relative;
}

.visibleCard {
    text-align: center;
    height: 130px;
}

.trumpCard{
    display: inline-block;
    position: relative;
    margin-top: 5px;
    width: 72px;
    height: 96px;
}

.trumpBlock{
    text-align: center;
    height: 130px;
}

.gameProgression {
    text-align: center;
    height: 50px;
}


.trumpSuit {
    font-size: 8em;
    line-height: .6;
    text-shadow: 1px 0 0 white, 0 1px 0 white, -1px 0 0 white, 0 -1px 0 white;
}

.symbolontable_2,
.symbolontable_4 {
    color: red;
}


/*
 * CARD TABLE
 */
#playertables {
    margin: auto;
    position: relative;
    width: 550px;
    height: 500px;
    background-color: green;
    border-radius: 20px;
}

#turn_order {
    z-index: 0;
	top: 50%;
    font-weight: bold;
    font-size: 5em;
    color: darkgreen;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/*
 * Players
 */
#playertables {
    position: relative;
    width: 550px;
    height: 500px;
}

.playertable {
	z-index: 1;
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
}
.playerTables__name {
	position: absolute; /* Fix to bottom */
	bottom: 0;          /* " */
    width: 100%;
    box-sizing: border-box;
    padding: 2px;
	font-size: 12px;
	color: white;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: var(--avatar-radius);
    border: 1px solid white;
}
.playerTables__name > span {
	font-weight: bold;
	padding: 1px 4px;
	border-radius: 3px;
	text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
	letter-spacing: 0.05rem;
}
.playerTables__avatar-wrapper {
	box-sizing: border-box;
	position: relative;
	width: 110px;
	height: 110px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 2px;
    border: 4px solid rgba(255, 255, 255, 0.1);
	border-radius: 50%;
}
.playerTables__avatar {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
    background-position: 50% 50%;
	border-radius: 50%;
}

.playertable_N {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
.playertable_S {
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.playertable_W {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.playertable_E {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.playertablecard {
    position: absolute;
    /* margin-top: 20px; */
    width: 72px;
    height: 96px;
}

.playertablecard_N {
    top: 140px;
    left: 50%;
    margin-left: -36px;
}

.playertablecard_S {
    bottom: 140px;
    left: 50%;
    margin-left: -36px;
}

.playertablecard_W {
    top: 50%;
    left: 150px;
    margin-top: -48px;
}

.playertablecard_E {
    top: 50%;
    right: 150px;
    margin-top: -48px;
}

.cardontable {
    position: absolute;
    z-index: 2;
    width: 72px;
    height: 96px;
    background-image: url('img/cardsnew.png');
}



/* state */
.playerTables__table--active .playerTables__avatar-wrapper {
	border: 4px solid rgba(255, 255, 255, 0.65);
}


/* Hand of Cards */
#myhand {
	font-style: italic;
	text-align: center;
}
.spectatorMode #myhand_wrap {
    display: none;
}

/*
 * Player Hand (Stock)
 */
.stockitem {
    border-radius: 3px;
    transform: translateY(0);
    transition: box-shadow 0.2s ease-in,  transform .1s ease-in;
}
.stockitem_selected, .stockitem_selected:hover {
    transform: translateY(-.5em);
    box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 7px !important;
    border: 0 !important;
}

.stockitem:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 2px 4px 5px;
}

.stockitem--not-possible {
	filter: brightness(0.8);
}
